
.main ul li{
    display: inline-block;
    /* margin: 10px; */
    font-weight: 500;
    font-size:x-large;
    color: rgb(0, 0, 0);
    cursor: pointer;
    
}
.mainli{
    background-color: rgb(25, 0, 255);
    padding: 20px;
    border-radius: 0% 10px 10px 0%;
    
}
.mainli h1{
    color:white;
    margin: 0;
}
.main ul{
    display: inline;
}
.menu li a{
    display: block;
    padding: 18px ;
}

.main ul{
    padding-left: 0;
}
.menu{
    margin-left: 50px;
    font-family: Arial;
}

.call{
    background-color: rgb(25, 0, 255);
    border-radius: 5px;
    margin-left: 200px;
    margin-bottom: 10px;
    height: 50px;
    width: auto;
}
.menu li a{
    padding: 15px;
}
.menu li:hover a{
    color: rgb(25, 0,255)!important;
    /* text-shadow: 1px 1px 5px black; */
    border-bottom: 2px solid rgb(25, 0, 255);
}

/* FOR HOME PAGE */

.i{
    position: relative;
}
.maini{
    position: absolute;
    top: 30%;
    left: 30%;
    /* transform: translate(-50%,-50%); */
}

.imgq1{
    color: rgb(25, 0, 255);
    text-shadow: 2px 2px 5px black;
    font-size: 50px;
}
.imgq2{
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 10px rgb(255, 255, 255);
    font-size: 25px;   
}
.b1{ 
    height: 45px;
    border:2px solid rgb(25, 0, 255);
    color: rgb(25, 0, 255);
}

.b2{
    height: 45px;
    border:2px solid rgb(25, 0, 255);
    color: rgb(25, 0, 255);

}

.digit{
    text-align: center;
}

.vaho{
    background-color: rgba(230, 225, 225, 0.89);
    padding: 30px;
}

.a1{
    font-size:40px;
    text-align: center;
    padding-top: 60px;
    /* padding-bottom: 50px; */

}

.icon1{
    color: rgb(25, 0, 255);
    font-size: 50px;
    margin-bottom: 50px;
}
.icon2{
    color: rgb(255, 123, 0);
    font-size: 40px;
}
.foricon{
    text-align: center;
    margin-bottom: 0px;
}
.foricon1{
    text-align: center;
    margin-bottom: 0px;
}
.apple{
    font-size: 50px;
    color: black;
    margin-bottom: 30px;
    border: 2px solid black;
    border-radius: 50%;
    padding: 10px;
}
.foricon1 :hover{
    background-color: blue;
    border-color:blue;
    color: white;
}

.delet{
    border: 1px solid blue;
    opacity: 0.2;
    margin: 10px 0;
}
.key{
    padding-top: 50px;
}

.copy5{
    height: 150px;
    width: 100%;
    background-color: #1e2228;
    color: white;
    margin-top: 40px;
}

.f_u{
    background-color: blue;
    padding: 40PX;
    color: WHITE;
    font-size: 30PX;
    text-align: center;
    background-image: linear-gradient(120deg,white,blue);
    margin-top: 30px;
}





/* FOR FOOTER */


.fo1{
    background-color: #1e2228;
    color: white;
    /* margin-top: 50px; */
}

.copy10{
    font-size: 20px;
    margin: 10px;
    transform: scale(1);
    transition: .2s ease-in-out;
}
.copy10:hover{
    transform: scale(1.3);
    color:black;
}

.one_1{
    color: white;
    background-color:blue;
    height: 350px;
    margin: 40px auto;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    transform: scale(0.9);
    transition: .2s ease-in-out;
}
.one_1:hover{
    transform: scale(1.2);
    /* box-shadow: 5px 5px 5px black; */
    /* border:1px solid rgb(187, 168, 168); */
}
.Row{
    border:2px solid blue;
    display: flex;
    list-style: none;
    border-radius: 10px;
    text-align: center;
    padding: 0;
    margin-top: 30px;
}
.Row :hover{
    background-color: blue;
    color: white;
    border-radius: 10px;
}













/* CONTACT Page */

.C1{
    height: 300px;
    background-color:#01017f;
}